* {
  font-family: 'Mali', cursive;
  text-transform: capitalize;
  border-radius: 20px;
}

/* INDEX PAGE STYLES */

.index__body {
  height: 100vh;
  background-color: #f8f8ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index__logo {
  height: 400px;
}

.index__menu {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.index__menu__button {
  padding: 10px 35px;
}

/* GENERAL ITEM PAGE STYLES */

.body {
  background-color: #b2d6c9;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  margin: 10px 30px;
  color: #4c7566;
}

.title {
  margin: auto;
  font-size: 50px;
}

.hemisphere {
  display: flex;
  align-items: center;
}

.hemisphere__text {
  margin: 0;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
}


/* Filters Styles */

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.filters__or {
  margin: 0 20px;
  font-weight: bold;
  color: #4c7566;
}

.filters__search {
  padding: 10px 20px;
  font-size: 20px;
}

.filters__search:active, .filters__search:focus {
  outline: none;
}

.main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 30px;
}

/* STYLES FOR ITEM CONTAINER "CARD" */

.container {
  background-color: #70998a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.info > img {
  margin-top: 10px;
  height: 110px;
  border: 5px solid #4c7566;
}

.container p, .container h2 {
  color: white;
  word-break: break-all;
  text-align: center;
}

.container label {
  color: white;
  font-size: 18px;
}

.container > * {
  margin: 10px 0;
}

.name {
  color: white;
}

/* Clock (item time) Styles */

.time, .months {
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock, .calendar {
  background-color: #4c7566;
  width: 90%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.hour, .month {
  border-radius: 0;
  border-right: 2px solid #70998a;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eleven-am {
  border-right: 2px solid white;
}

.available {
  background-color: #213d33;
}

.time__text, .months__text {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.time__text p, .months__text p {
  margin: 0;
}

[data-tooltip]:before {
  background-color: #f8f8ef;
  border-radius: 10px;
  padding: 0 10px;
  font-weight: bold;
  color: #213d33;
  position : absolute;
  margin-left: 60px;
  content : attr(data-tooltip);
  opacity : 0;
}

[data-tooltip]:hover:before {        
  opacity : 1;
}

/* Calendar (item months) Styles */

.months {
  padding: 0 15px;
}

.current__time {
  width: 50%;
}

/* Turn off the border for the last hour div in the clock and the last month div in the calendar */

[class*="__23"], [class*="__december"] {
  border: none;
}

/* Trackers (checkboxes) Styles */

.trackers {
  background-color: #4c7566;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  width: 100%;
  margin: 10px 0 0 0;
}

.trackers__items {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/* Universal Button Styles */

button {
  font-size: 22px;
  font-weight: bold;
  border: none;
  padding: 10px;
  background-color: #4c7566;
  color: white;
  transition: 0.3s;
}

button:active, button:focus {
  outline: none;
}

button:hover {
  background-color: #315246;
}

button:active {
  background-color: #213d33;
}

/* Universal Checkbox Styles */

input[type="checkbox"] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  outline: none;
}

/* MOBILE PHONE SIZE STYLES */

@media (max-width: 620px) {
  .hemisphere__text {
    display: none;
  }

  .filters {
    flex-direction: column;
  }

  .container {
    flex-grow: 1;
    height: 400px;
  }

  .info {
    flex-direction: row;
    justify-content: space-between;
  }

  .container__info__text {
    margin-left: 10px;
  }

  .container__info__text > h2 {
    word-spacing: 9999px;
  }
}